body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  border: 1px solid red;
  background: gray;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
  height: auto;
  flex-direction: column;
  /* margin-bottom: 100%; */
}

.form-content {
  display: flex;
 
  margin: 0px;
  padding: 20px;
}

.ip {
  margin: 10px 0px 10px 0px;
  align-items: center;
  text-align: center;

}

.table-content {
}
h1 {
  margin: 0px;
  padding: 0px;
}

.fc{
  font-size: larger;
  display: flex;
  justify-content:center;
  align-items: left;
  border: 1px solid red;
  
}
